<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://118.89.160.15:3306/yys?&amp;useUnicode=true&amp;characterEncoding=UTF8&amp;zeroDateTimeBehavior=convertToNull&amp;useSSL=true"/>
                <property name="username" value="root"/>
                <property name="password" value="xesPa_u7ew4uREcU"/>
                <property name="poolPingQuery" value="SELECT 1" />
                <property name="poolPingEnabled" value="true" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.acc.yys.dao"/>
    </mappers>
</configuration>
